.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  /* width: 80px; this is old width */
  width: 160px; 
}

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

#showcase {
  background-image: url("../img/showcasetest7.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-position: center; 
  background-attachment: fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.7); }

#services {
  background-image: url("../img/building.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-position: center; 
  background-attachment: fixed/cover;
  /*background: url("../img/building.jpg") no-repeat top center fixed/cover;*/
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(94, 129, 119, 0.5); }

#showcase-inner {
  /* background: url(../img/building.jpg) no-repeat top center fixed/cover; */
  background-image: url("../img/building.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-position: center; 
  background-attachment: fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview {
  border-radius: 0;
}

.listing-preview a {
  position: relative; 
}

.card-img-top {
  border-radius: 0;
}

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }




    

.property-card .box .top {
  position: relative;
  background-color: #fff;
}

.property-card .box .top:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.property-card .box .top:hover:before {
  opacity: 1;
}

.property-card .box .top a {
  visibility: visible;
  color: white;
  font-size: 12px;
  padding: 10px 30px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
  opacity: 3;
}


.property-card .box .top img {
  width: 100%;
  height: 220px;
}

.property-card .box .top span {
  position: absolute;
  color: white;
  font-size: 18px;
}

.property-card .box .bottom {
  padding: 20px 15px;
  position: relative;
}

.property-card .box .bottom h3 {
  font-size: 15px;
  display: block;
}

.property-card .box .bottom > p {
  margin: 10px 0;
  font-size: 13px;
  line-height: 1.4;
  display: block;
  color: #777;
}

.property-card .box .bottom .advants {
  display: flex;
}

.property-card .box .bottom .advants > div {
  margin-right: 15px;
}

.property-card .box .bottom .advants > div > span {
  font-weight: bold;
  font-size: 12px;
}

.property-card .box .bottom .advants > div > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.property-card .box .bottom .advants > div > div i {
  color: #777;
  font-size: 22px;
}

.property-card .box .bottom .advants > div > div > span {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.property-card .box .bottom .advants > div > div > span > span {
  color: #777;
  font-weight: normal;
  margin-left: 5px;
}

.property-card .box .bottom .price {
  margin-top: 20px;
}

.property-card .box .bottom .price span:first-of-type {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: capitalize;
}

/* .property-card .box .bottom .price span:last-of-type {
  color: #3eaba1;
  font-size: 20px;
} */

